.main-con {
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,90,121,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 60px ;
}
.takePhoto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 80vw;
    height: 40vh;
    border-radius: 50px;
    background: #fff;
    padding-top: 15vh;
}
.title-con {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Inria Serif";
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.submit-con {
    display: flex;
    width: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 150px;
}
.submit-button {
    background-color: #4CAF50; 
    color: white;
    width: 20vh; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    margin-bottom: 10vh;
}
.info-text {
    width: 40vh;
    margin-top: 10px;
    font-size: 14px; 
    color: #000000; 
    padding-left: 3vh;
}