.top-div {
    transition: background-color 0.5s ease;
    /* Transition for background color */
    background-color: #1F1F1F;
    display: flex;
    align-items: center;
    justify-content: center;
}